.container {
 width: 960px;
    margin: auto;
}

body {
background-size: 100%;
background-repeat: no-repeat;
    background-color: darkgray;
}

#index {
        position: fixed;
    top: 0px;
 width: 960px;
height: 50px;
    background-color: black;
}

ul li {
 float: left;
    list-style: none;
    margin: 10px 20px 0px 20px;
}

ul a {
 color: white;   
}

ul a:hover {
 color: gray;   
}

#content {
width: 960px;
height: 800px;
    float: left;
background-color:yellow;
    
}

#about {
 width: 960px;
height: 800px; 
    float: left;
background-color:orange;
}

#funstuff {
 width: 960px;
height: 800px;
    float: left;
background-color:purple;
}

#contact {
 width: 960px;
height: 800px;
    float: left;
background-color:red;
}

#footer {
 width: 960px;
height: 100px;
    float: left;
background-color:black;
}

.go_top {
    position: fixed;
    bottom: 15px;
    right: 25px;
    width: 50px;
    height:50px;
    background-image:url("content/up_button.svg");
    text-decoration: none;
    display: none;
    
}

.go_top:hover {
   background-position: -50px 0px;
    
       
}
